body.main {
	background: #666655; 
	background-image: url("../images/back-blurred_dark.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    /* margin: 20px auto;
    /* width: 60%; */
}
.map {
	height: 50vh !important;
	width: 100% !important;
	border-width: 2px !important;
	border-color: #000000 !important;
}
.map-popup {
	max-height: 800px;
	overflow-y: auto;
	/*position: absolute;*/
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	/*padding: 15px; */
	border-radius: 10px;
	border: 1px solid #000000;
	min-width: 550px !important;
	/*width: auto !important;*/
}
.popover {
	/* border: 2px black;
	min-width: 550px;
	max-height: 450px;
	overflow-y: auto; */
	
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	/*padding: 15px; */
	border-radius: 10px;
	border: 1px solid #000000;
	min-width: 550px !important;
	/*width: auto !important; */
	max-height: 500px;
}

.modal-header {
	background: #FFFFFF !important;
	padding: 1px 1px 1px 1px !important;
}

/* Popover Header */
.popover-header {
	background: #FFFFFF;
    /* width: 14.22222rem; */
    box-shadow: 1px 0 0 rgba(0,0,0,0.06);
    /*overflow: auto; */
	width: 100%;
}
.popover-title {
	/* background-color: #CCCCCC; */
	color: #FFFFFF !important; 
	font-size: 35px !important;
	text-align: center;
	padding-left: 20px !important;
	padding-right: 20px !important;
	margin-bottom: 5px;
	background: linear-gradient(top, #6688BB 0%, #446688 100%) !important;
	background: -moz-linear-gradient(top, #6688BB 0%, #446688 100%) !important;
	background: -webkit-linear-gradient(top, #6688BB 0%,#446688 100%) !important;
	background: -ms-linear-gradient(top, #6688BB 0%,#446688 100%) !important;
	font-family: Catamaran !important;
	text-shadow: 2px 2px black !important;
}

.popover-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}

.popover-closer:after {
	content: "✖";
}

.popover-img {
	width: 100% !important;
	padding-left: 10% !important;
	padding-right: 10% !important;
	border: 1px !important;
	background-color: black !important;
}

.popover-thumb {
	width: 100px !important;
	border: 1px !important;
}

.popover-text {
	color: black;
	font-size: 1em !important;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}
.popover-text-sm {
	color: black;
	font-size: 0.8em !important;
}

.mfp-bg {
	opacity: .40;
	padding-top: 10px !important;
}

.legend {
	background: rgba(51, 85, 170, 0.6);
	border-radius: 5px;
	padding-left: 5px;
	padding-bottom: 1px;
}
.ul-leg {
	padding-left: 5px;
}
.li-leg {
	list-style-type: none;
}

.legend-title {
	color: #FFFFFF;
	font-family: 'Catamaran' !important;
	font-size: 1em !important;
	font-weight: bold !important;
	padding-top: 5px !important;
	margin-top: 5px !important;
	padding-bottom: 5px !important;
	text-align: center;
}
#map {
    border: 2px solid black;
    overflow: hidden;
}
.map-col {
	padding-left: 0px;
}

.main-div {
	padding: 0px 0px 0px 0px;
}

.legend-radio {
	height: 1em;
}

.legend-txt {
	color: #FFFFFF;
	font-size: 0.8em;
}
.legend-col {
	padding-left: 0px;
	padding-right: 0px;
}
/* li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
} */
.legend-item {
	display: block;
    float: left;
    height: 16px;
    width: 25px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}
.res {
	background: rgb(255,255,0);
}
.hotel {
	background: rgb(255,128,0);
}
.comm {
	background: rgb(255,0,0);
}
.indust {
	background: rgb(160,32,240);
}
.inst {
	background: rgb(0,0,255);
}
.health {
	background: rgb(51,204,255);
}
.rel {
	background: rgb(47,204,79);
}
.rec {
	background: rgb(0,255,0);
}
.trans {
	background: rgb(128,128,128);
}
.unknown {
	background: rgb(255,255,255);
}
#info {
	position: absolute;
	height: 1px;
	width: 1px;
	z-index: 100;
}
.tooltip.in {
	opacity: 1;
	filter: alpha(opacity=100);
}
.tooltip.top .tooltip-arrow {
	border-top-color: white;
}
.tooltip-inner {
	border: 2px solid white;
}
.carousel-padding {
	padding-bottom: 7em !important;
}
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
	padding-bottom: 0px;
}
.carousel-img-div {
	background: black;
}
/* .carousel-img {
	width: auto !important;
	height: 450px !important;
	max-height: 500px;
	display: block;
    margin: 0 auto;
} */
.carousel-img {
	width: auto !important;
	height: auto !important;
	max-height: 450px;
	display: block;
    margin: 0 auto;
	border: 1px solid black;
}
.carousel-container {
	width: auto !important;
	padding: 0px;
}
#photoCarousel {
	background: linear-gradient(top, #6688BB 0%, #446688 100%) !important;
	background: -moz-linear-gradient(top, #6688BB 0%, #446688 100%) !important;
	background: -webkit-linear-gradient(top, #6688BB 0%,#446688 100%) !important;
	background: -ms-linear-gradient(top, #6688BB 0%,#446688 100%) !important;
}
.carousel-item {
	background: linear-gradient(top, #6688BB 0%, #446688 100%) !important;
	background: -moz-linear-gradient(top, #6688BB 0%, #446688 100%) !important;
	background: -webkit-linear-gradient(top, #6688BB 0%,#446688 100%) !important;
	background: -ms-linear-gradient(top, #6688BB 0%,#446688 100%) !important;
	border-style: solid;
    border-width: 1px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carousel-text-sm {
	font-size: 0.9em;
	margin: 0px;
}
.carousel-caption-txt {
	padding-top: 5px;
	margin: 0px;
}
#cf2 {
	position: relative;
	/* width: 500px; */
	/* bwidth: 50%; */
	height: 450px;
	/* margin: auto; */
	/* padding-left: 5px; */
	display: block;
    margin: auto;
    width: 95%;
}
#cf2 img {
	position: absolute;
	left: 5;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	border: 1px solid black;
	max-width: 525px;
	max-height: 450px;
}
#cf2 img.transparent {
	opacity:0;
}
.popup-table {
	display: table;
	width: 100%;
	border-radius: 10px !important;
}
.popup-table-title {
	display: table-caption;
	text-align: center;
	font-weight: bold;
	font-size: larger;
}
.popup-table-heading {
	display: table-row;
	font-weight: bold;
	text-align: center;
}
.popup-row {
	display: table-row;
}
.popup-cell {
	display: table-cell;
	border: solid;
	border-width: thin;
	padding-left: 5px;
	padding-right: 5px;
	width: 50%;
}
.heading-cell {
	width: 30%;
	background: #CCCCCC;
}
.text-cell {
	width: 70%;
}
.popup-a {
	color: #000077 !important;
}
.tn {
	height: 50px;
}
#carousel-example-generic {
  display: inline-block;
}
/*****************************/

/* Plugin styles */
ul.thumbnails-carousel {
	padding: 5px 0 0 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}
ul.thumbnails-carousel .center {
	display: inline-block;
}
ul.thumbnails-carousel li {
	margin-right: 5px;
	float: left;
	cursor: pointer;
}
.controls-background-reset {
	background: none !important;
}
.active-thumbnail {
	opacity: 0.4;
}
.indicators-fix {
	bottom: 70px;
}
@media only screen and (max-width: 768px) {
	.map-popup {
		width: 100% !important;
		min-width: 50px !important;
	}
	.carousel-img {
		width: 100% !important;
		height: auto !important;
	}
	.tn {
		height: 30px;
	}
}