html.map {
	/* height: 100vh !important; -->
}
body.main {
	background: #666655; 
	background-image: url("../images/back-blurred_dark.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    /* margin: 20px auto;
    /* width: 60%; */
}
body.main-map {
	/* height: 100vh !important; */
}
/*.map {
	height: 50vh !important;
	width: 100% !important;
	border-width: 2px !important;
	border-color: #000000 !important;
} */
.map {
	min-height: 82% !important;
    height: 82vh !important;
	margin-right: 15px;
	margin-left: 15px;
	border-width: 2px !important;
	border-left: 0px !important;
	border-color: #000000 !important;
}
/* div.map {
	height: 100% !important;
} */
#legend.in,
#legend.collapsing {
    display: block!important;
}
div.round-border {
	border: 1px solid #000000;
	border-radius: 5px;
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;
}
.map-popup {
	max-height: 800px; /*800*/
	overflow-y: auto;
	/*position: absolute;*/
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	/*padding: 15px; */
	border-radius: 10px;
	border: 1px solid #000000;
	min-width: 570px !important; /*550*/
	/*width: auto !important;*/
}
.map:-moz-full-screen {
	height: 100%;
}
.map:-webkit-full-screen {
	height: 100%;
}
.map:-ms-fullscreen {
	height: 100%;
}
.map:fullscreen {
	height: 100%;
}
.ol-rotate {
	top: 3em;
}
.popover {
	/* border: 2px black;
	min-width: 550px;
	max-height: 450px;
	overflow-y: auto; */
	
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	/*padding: 15px; */
	border-radius: 10px;
	border: 1px solid #000000;
	min-width: 570px !important;
	/*width: auto !important; */
	max-height: 500px;
}

.modal-header {
	background: #FFFFFF !important;
	padding: 1px 1px 1px 1px !important;
}

.no-top-pad {
	padding-top: 0px;
}

/* Popover Header */
.popover-header {
	background: #FFFFFF;
    /* width: 14.22222rem; */
    box-shadow: 1px 0 0 rgba(0,0,0,0.06);
    /*overflow: auto; */
	width: 100%;
}
.popover-title {
	/* background-color: #CCCCCC; */
	color: #FFFFFF !important; 
	font-size: 30px !important;
	text-align: center;
	padding-left: 20px !important;
	padding-right: 20px !important;
	margin-bottom: 5px;
	background: linear-gradient(top, #6688BB 0%, #446688 100%) !important;
	background: -moz-linear-gradient(top, #6688BB 0%, #446688 100%) !important;
	background: -webkit-linear-gradient(top, #6688BB 0%,#446688 100%) !important;
	background: -ms-linear-gradient(top, #6688BB 0%,#446688 100%) !important;
	font-family: Catamaran !important;
	text-shadow: 2px 2px black !important;
}

.popover-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}

.popover-closer:after {
	content: "✖";
}

.popover-img {
	width: 100% !important;
	padding-left: 10% !important;
	padding-right: 10% !important;
	border: 1px !important;
	background-color: black !important;
}

.popover-thumb {
	width: 100px !important;
	border: 1px !important;
}

.popover-text {
	color: black;
	font-size: 1em !important;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}
.popover-text-sm {
	color: black;
	font-size: 0.8em !important;
}

.mfp-bg {
	opacity: .40;
	padding-top: 10px !important;
}

.legend {
	background: rgba(51, 85, 170, 0.6);
	border-radius: 5px;
	padding-left: 5px;
	padding-bottom: 1px;
}
.ul-leg {
	padding-left: 5px;
}
.li-leg {
	list-style-type: none;
}

.legend-title {
	color: #FFFFFF;
	font-family: 'Catamaran' !important;
	font-size: 1em !important;
	font-weight: bold !important;
	padding-top: 5px !important;
	margin-top: 5px !important;
	padding-bottom: 5px !important;
	text-align: center;
}
#map {
    border: 2px solid black;
    overflow: hidden;
}
.map-col {
	padding-left: 0px;
	padding-right: 0px;
}
.hr-map {
	margin-top: 5px;
	margin-bottom: 5px;
}
.main-div {
	padding: 0px 0px 0px 0px;
}

.legend-radio {
	height: 1em;
}

.legend-txt {
	color: #FFFFFF;
	font-size: 0.8em;
}
.legend-col {
	padding-left: 0px;
	padding-right: 0px;
}
/* li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
} */
.legend-item {
	display: block;
    float: left;
    height: 16px;
    width: 25px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}
.res {
	background: rgb(255,255,0);
}
.mix {
	background: rgb(255,158,0);
}
.comm {
	background: rgb(255,0,0);
}
.hotel {
	background: rgb(255,163,163);
}
.bank {
	background: rgb(138,0,0);
}
.indust {
	background: rgb(196,32,240);
}
.inst {
	background: rgb(0,0,255);
}
.edu {
	background: rgb(95,170,255);
}
.health {
	background: rgb(0,255,255);
}
.rel {
	background: rgb(0,255,128);
}
.rec {
	background: rgb(35,136,0);
}
.trans {
	background: rgb(128,128,128);
}
.unknown {
	background: rgb(255,255,255);
}
.legend-roads {
	display: block;
    float: left;
    height: 5px;
    width: 25px;
	margin-top: 5px;
    margin-right: 5px;
    margin-left: 0;
    border: 0px;
	background: rgb(255,162,75);
}
.legend-railways {
	display: block;
    float: left;
    height: 5px;
    width: 25px;
	margin-top: 5px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px !important;
	border-color: #FFFFFF !important;
	/*background: rgb(255,162,75);*/
}
.legend-cnr {
	display: block;
    float: left;
    height: 5px;
    width: 25px;
	margin-top: 5px;
    margin-right: 5px;
    margin-left: 0;
    border: 0px;
	background: rgb(220,0,0);
}
.legend-cpr {
	display: block;
    float: left;
    height: 5px;
    width: 25px;
	margin-top: 5px;
    margin-right: 5px;
    margin-left: 0;
    border: 0px;
	background: rgb(149,62,0);
}
.legend-nyc {
	display: block;
    float: left;
    height: 5px;
    width: 25px;
	margin-top: 5px;
    margin-right: 5px;
    margin-left: 0;
    border: 0px;
	background: rgb(0,0,200);
}
.legend-ott {
	display: block;
    float: left;
    height: 5px;
    width: 25px;
	margin-top: 5px;
    margin-right: 5px;
    margin-left: 0;
    border: 0px;
	background: rgb(255,95,0);
}
#info {
	position: absolute;
	height: 1px;
	width: 1px;
	z-index: 100;
}
.road-info{
	background: rgb(0,55,255);
}
.tooltip.in {
	opacity: 1;
	filter: alpha(opacity=100);
}
.tooltip.top .tooltip-arrow {
	border-top-color: white;
}
.tooltip-inner {
	border: 2px solid white;
}
.test + .tooltip > .tooltip-inner {
    background-color: #73AD21; 
    color: #FFFFFF; 
    border: 1px solid green;
    padding: 15px;
    font-size: 20px;
}
.carousel-padding {
	padding-bottom: 7em !important;
}
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
	padding-bottom: 0px;
	padding-top: 0px;
}
.carousel-img-div {
	background: black;
}
hr.trim  {
	margin: 1px 1px 1px 1px !important;
}
.magbutton {
	font-size: 20px !important;
	text-align: center !important;
	padding: 3px 6px;
	margin: 0 0 15px !important;
	/* line-height: 100%; */
	/* position: relative !important; */
}
.mag-text {
	text-shadow: 2px 2px 4px #000000;
}
p.mag {
	margin: 0 0 15px !important;
}
.mag-button:active, .active {
    background-color:red;
    color: white;
}
/* .carousel-img {
	width: auto !important;
	height: 450px !important;
	max-height: 500px;
	display: block;
    margin: 0 auto;
} */
.carousel-img {
	width: auto !important;
	height: auto !important;
	max-width: 530px;
	max-height: 480px;
	display: block;
    margin: 0 auto;
	border: 1px solid black;
}
.carousel-container {
	width: auto !important;
	padding: 0px;
}
.arrow {
	color: #B4FEFF !important;
	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
#photoCarousel {
	background: linear-gradient(top, #6688BB 0%, #446688 100%) !important;
	background: -moz-linear-gradient(top, #6688BB 0%, #446688 100%) !important;
	background: -webkit-linear-gradient(top, #6688BB 0%,#446688 100%) !important;
	background: -ms-linear-gradient(top, #6688BB 0%,#446688 100%) !important;
}
.carousel-item {
	background: linear-gradient(top, #6688BB 0%, #446688 100%) !important;
	background: -moz-linear-gradient(top, #6688BB 0%, #446688 100%) !important;
	background: -webkit-linear-gradient(top, #6688BB 0%,#446688 100%) !important;
	background: -ms-linear-gradient(top, #6688BB 0%,#446688 100%) !important;
	border-style: solid;
    border-width: 1px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
	width: 5%;
}
.carousel-text-sm {
	font-size: 0.9em;
	margin: 0px;
}
.carousel-caption-txt {
	padding-top: 5px;
	margin: 0px;
}
#cf2 {
	position: relative;
	/* width: 500px; */
	/* bwidth: 50%; */
	height: 450px;
	/* margin: auto; */
	/* padding-left: 5px; */
	display: block;
    margin: auto;
    width: 95%;
}
#cf2 img {
	position: absolute;
	left: 5px;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	border: 1px solid black;
	max-width: 525px; /*525px; */
	max-height: 450px;
}
#cf2 img.transparent {
	opacity:0;
}
.fullscreen:-moz-full-screen {
	height: 100%;
}
.fullscreen:-webkit-full-screen {
	height: 100%;
}
.fullscreen:-ms-fullscreen {
	height: 100%;
}
.fullscreen:fullscreen {
	height: 100%;
}
.fullscreen {
	margin-bottom: 10px;
	width: 100%;
	/*height: 400px; */
	min-height: 82% !important;
    height: 82vh !important;
	/*height: 100%; */
}
.kb-maplogo {
	max-width: 300px !important;
	width: 80% !important;
	padding: 5px !important;
	padding-top: 10px !important;
}
.map-title {
	color: #99BBEE !important;
	padding: 0px !important;
    font-size: 1em !important;
    /* font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif !important; */
	/* font-family: Scada;*/
	/* font-family: Kaushan Script !important; */
	font-family: 'Yanone Kaffeesatz' !important;
	text-align: left;
	font-weight: bold !important;
	text-shadow: 0px 1px #FFFFFF;
	margin: 0px !important;
}
.popup-table {
	display: table;
	width: 100%;
	border-radius: 10px !important;
}
.popup-table-title {
	display: table-caption;
	text-align: center;
	font-weight: bold;
	font-size: larger;
}
.popup-table-heading {
	display: table-row;
	font-weight: bold;
	text-align: center;
}
.popup-row {
	display: table-row;
}
.popup-cell {
	display: table-cell;
	border: solid;
	border-width: thin;
	padding-left: 5px;
	padding-right: 5px;
	width: 50%;
}
.popup-source {
	font-size: 0.8em !important;
}
p.street-photo-source {
	color: black !important;
	font-size: 0.9em !important;
	margin: 0px;
}
hr.street-photo-source {
	border-top: 1px solid lightgray !important;
	margin: 1px;
	margin-top: 10px;
}
.street-photo-source {
	color: blue !important;
}
.street-photo-img {
	border: 1px solid grey !important;
	width: 100% !important;
}
.street-popup {
	margin: 15px;
}
.street-photo {
	clear: right; 
	float: right;
	/* width: 50%; */
	margin: 10px;
	border: solid;
	border-width: thin;
	padding: 10px;
	background: #EEEEEE;
}
.other-photo {
    clear: left;
    float: left;
    margin: 10px;
    border: solid;
    border-width: thin;
    padding: 10px;
    background: #EEEEEE;
}
.street-p {
	color: black;
	margin: 10px;
}
.street-figcaption {
	text-align: center;
	font-weight: bold;
}
.heading-cell {
	width: 30%;
	background: #CCCCCC;
}
.text-cell {
	width: 70%;
}
.popup-a {
	color: #000077 !important;
}
.tn {
	height: 50px;
}
#carousel-example-generic {
  display: inline-block;
}
/*****************************/

/* Plugin styles */
ul.thumbnails-carousel {
	padding: 5px 0 0 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}
ul.thumbnails-carousel .center {
	display: inline-block;
}
ul.thumbnails-carousel li {
	margin-right: 5px;
	float: left;
	cursor: pointer;
}
.controls-background-reset {
	background: none !important;
}
.active-thumbnail {
	opacity: 0.4;
}
.indicators-fix {
	bottom: 70px;
}
.container-map {
	margin-left: 2%;
	margin-right: 2%;
	height: 100% !important;
}
/*.container-map {
	margin-left: 2%;
	margin-right: 2%;
} */
.foot-map {
	margin: 0 0 0 0 !important;
	padding: 5px 5px 5px 5px !important;
	text-align: center;
	font-size: small;
}
.mobile_only {
	display: none;
}

/* The following items are for the sidepanel of the
	railway map: */
.sidepanel {
	background: #1F6B75;
	width: 375px;
	height: 100%;
	float: left;
}
.carousel.sidepanel {
	border: 2px solid #000000 !important;
	border-right: 0px !important;
	margin-left: 5px;
}
.sidepanel-title {
	width: 100%;
	font-size: 3em;
	color: #ffffff;
	display: block;
	text-align: center;
	padding: 0px !important;
}
.carousel-item-rail {
	background: linear-gradient(top, #6688BB 0%, #446688 100%) !important;
	background: -moz-linear-gradient(top, #6688BB 0%, #446688 100%) !important;
	background: -webkit-linear-gradient(top, #6688BB 0%,#446688 100%) !important;
	background: -ms-linear-gradient(top, #6688BB 0%,#446688 100%) !important;
	border-style: solid;
    border-width: 1px;
}
.item.rail {
	background: transparent !important;
	height: 100%;
}
.h1-sidepanel {
	font-size: 1.6em !important;
	padding: 0px !important;
	text-align: center !important;
}
p.sidepanel-title {
	font-size: 0.7em !important;
}
.sidepanel-bar {
	background: #000066 !important;
	/*height: 15%;*/
	height: 78px;
}
div.sidepanel-text {
	border: none !important;
	width: 95%;
	overflow-y: scroll;
	/*height: 85%;*/
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-top: 5px;
	/*font-size: 1.3em !important;*/
	margin: 0px !important;
	margin-top: 5px !important;
}
.sidepanel-p {
	font-size: 1.3em !important;
	border: none !important;
	width: 95%;
	text-align: left;
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-top: 5px !important;
	/*margin-right: 25px;*/
}
.sidepanel-image {
	border: 1px solid #000000 !important;
	background: #000066 !important;
	text-align: center !important;
}
.sidepanel-legend {
	/* background: #3D5286 !important;
	/*background: #AAAAAA;*/
	background: #CCCCFF;
	color: #FFFFFF;
	font-size: 1em;
	padding-left: 10px;
	padding-bottom: 2px;
	margin-top: 5px;
	/*margin-left: 15px;*/
	margin-right: 15px;
	border: 1px solid #000000;
	border-radius: 5px;
}
.sidepanel-legend-title {
	/*color: #3D5286;*/
	color: #000066;
	font-family: 'Catamaran' !important;
	font-size: 1.3em !important;
	font-weight: bold !important;
	padding-top: 5px !important;
	margin-top: 5px !important;
	padding-bottom: 5px !important;
	text-align: center;
	text-shadow: 1px 2px white !important;
}
.li-sideleg {
	list-style-type: none;
	margin-right: 20px;
	padding-left: 5px;
	font-size: 1em;
	color: #000066;
	text-shadow: 1px 1px white !important;
	font-weight: bold;
}

/* The following items are for mobile device resizing: */
@media only screen and (max-width: 768px) {
	.map-popup {
		width: 100% !important;
		min-width: 50px !important;
	}
	.carousel-img {
		width: 100% !important;
		height: auto !important;
	}
	.tn {
		height: 30px;
	}
	.container-map {
		padding-right: 15px;
		padding-left: 30px;
	}
	.magbutton {
		display: none;
	}
	.mobile_only {
		display: inline;
	}
	.rs-container {
		display: none !important;
	}
}