---
layout: main
title: Map of Ottawa's Railways Through the Years
redirect_from: 
  - /geomatics/ottawa-railways/map
  - /geomatics/ottawa-railways
description: An Openlayers map showing Ottawa's railways throught the years.
keywords: Ottawa, history, Ottawa history, railways
---
<div> <!-- class="container"> -->
	<div class="row">
		<div class="col-md-2 col-sm-2 sidebar-map">
			<div class="map-title">
				<!--<h2 class="map-title-text">Ottawa's 1930 Railway Network</h2>-->
				<img class="title-img rail-map-logo" src="/geomatics/images/railway-logo.png"> <!-- width=200>-->
			</div>
			<!-- <p class="mobile_only">
				NOTE: Selecting buildings currently doesn't work on mobile devices. Sorry for the inconvenience.<br>
				A <a href="./building-list.html">list of buildings</a> is available.
			</p> -->
			<hr class="hr-map" style="height:1px;border:none;color:#333;background-color:#ffffff">
			<div class="col-md-12 col-sm-12 legend-col">
				{% include_relative legend.html %}
			</div>
		</div>
		<div class="col-md-10 col-sm-10 map-col">
			<div class="row" style="margin-left: 10px">
				<input type="text" id="slider" class="slider">
			</div>
			<div id="fullscreen" class="row fullscreen">
				<!-- <div class="sidepanel">
					<span class="sidepanel-title"> -->
						{% include_relative sidepanel.html %}
					<!-- </span>
				</div> -->
				<div id="map" class="map">
					<div id="info"></div>
				</div>
				<div id="popup" class="ol-popup">
					<a href="#" id="popup-closer" class="ol-popup-closer"></a>
					<div id="popup-content"></div>
				</div>
				<p class="small" style="text-align:left !important;">
					Map created using OpenLayers 4<br>
				</p>
				<!-- <div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Download Railways Map
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="../files/1930_Ottawa_Railways.geojson" target="_blank">GeoJSON</a></li>
					</ul>
				</div> -->
				<br>
			</div>
			<br>
			<div class="description">
				<hr class="standard">
				<div class="pg-title">
					<h2>Ottawa's Railways Through The Years</h2>
				</div>
				<hr class="standard">
				<p class="description">At the height of rail transportation, most North American cities had extensive railway networks and Ottawa was no exception. Starting with the Bytown and Prescott Railway in 1854, Ottawa's railway network expanded to over 120 km, 2 stations and 3 railway companies by 1930. With the implementation of much of the Greber Plan, Ottawa's railway lines were moved from the downtown to the suburbs and replaced with highways and parkways by the late 1960s. Since then, the city's move from heavy industry to high-tech businesses has seen its railway system diminish to two intercity passenger train lines (to Montreal and Toronto), light rail and one short branch for freight to Arnprior. However, many of the original rights-of-way still exist as pathways, roadways or just abandoned lines.</p>
				<p class="description">I created this map to show Ottawa's railway network through the years. Information on the railway lines was gathered using <a href="https://ocul.on.ca/topomaps/collection/">historic topographic maps</a> and air photos from the <a href="http://gsguo.maps.arcgis.com/apps/MapSeries/index.html?appid=4c010ecf0fb3434890214fa63c942928">University of Ottawa</a> and <a href="http://maps.ottawa.ca/geoottawa/">GeoOttawa</a>.</p>
				<br>
				{% include footer.html %}
			</div>
		</div>
	</div>
</div>