_site/
run_jekyll.bat
Rideau_Club_2_a042337.jpg
geomatics/files/Ottawa_Street_Name_Origins_dev.geojson
js/backup/
geomatics/maps/bygone-buildings-ottawa/backup/
_includes/backup/
geomatics/_old/
geomatics/maps/ottawa-railways/backup/
geomatics/files/backup/
geomatics/maps/ottawa-street-names/_dev
kballant.github.io.code-workspace