<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Pacifico' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Kaushan+Script' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Catamaran' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Fjalla+One' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz' />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pompiere" />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Shadows+Into+Light+Two' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Rock+Salt' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Kalam:700' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Special+Elite' />
<style>
    @font-face {
        font-family: 'ForgottenOttawaSC';
        src: url('/forgotten-ottawa/fonts/Forgotten_Ottawa_Pica_SC.ttf') format('embedded-opentype'), /* Internet Explorer */
            url('/forgotten-ottawa/fonts/Forgotten_Ottawa_Pica_SC.ttf') format('woff2'),             /* Super Modern Browsers */
            url('/forgotten-ottawa/fonts/Forgotten_Ottawa_Pica_SC.ttf') format('woff'),              /* Pretty Modern Browsers */
            url('/forgotten-ottawa/fonts/Forgotten_Ottawa_Pica_SC.ttf') format('truetype'),          /* Safari, Android, iOS */
            url('/forgotten-ottawa/fonts/Forgotten_Ottawa_Pica_SC.ttf') format('svg');               /* Legacy iOS */
    }
    @font-face {
        font-family: 'ForgottenOttawaRoman';
        src: url('/forgotten-ottawa/fonts/Forgotten_Ottawa_Pica_Roman.ttf') format('embedded-opentype'), /* Internet Explorer */
            url('/forgotten-ottawa/fonts/Forgotten_Ottawa_Pica_Roman.ttf') format('woff2'),             /* Super Modern Browsers */
            url('/forgotten-ottawa/fonts/Forgotten_Ottawa_Pica_Roman.ttf') format('woff'),              /* Pretty Modern Browsers */
            url('/forgotten-ottawa/fonts/Forgotten_Ottawa_Pica_Roman.ttf') format('truetype'),          /* Safari, Android, iOS */
            url('/forgotten-ottawa/fonts/Forgotten_Ottawa_Pica_Roman.ttf') format('svg');               /* Legacy iOS */
    }
    @font-face {
        font-family: 'SpecialElite-Bold';
        src: url('/forgotten-ottawa/fonts/SpecialElite-Bold.ttf') format('embedded-opentype'), /* Internet Explorer */
            url('/forgotten-ottawa/fonts/SpecialElite-Bold.ttf') format('woff2'),             /* Super Modern Browsers */
            url('/forgotten-ottawa/fonts/SpecialElite-Bold.ttf') format('woff'),              /* Pretty Modern Browsers */
            url('/forgotten-ottawa/fonts/SpecialElite-Bold.ttf') format('truetype'),          /* Safari, Android, iOS */
            url('/forgotten-ottawa/fonts/SpecialElite-Bold.ttf') format('svg');               /* Legacy iOS */
    }
</style>