<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Pacifico' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Kaushan+Script' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Catamaran' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Fjalla+One' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz' />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pompiere" />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Shadows+Into+Light+Two' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Rock+Salt' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Kalam:700' />