<div class="col-md-3 sidebar">
	<div class="inner-sidebar">
		<h4 class="sidebar">Contact</h4>
		<p class="sidebar">Email<br>
			<a class="main" href="mailto:geomatics@kballantyne.ca">geomatics@kballantyne.ca</a>
		</p>
		<!--<p class="sidebar"><a target="_blank" class="main" href="https://www.linkedin.com/in/kevin-ballantyne-15658417">My Linkedin Profile</a></p>-->
		<p class="sidebar">
			<a class="noline" target="_blank" href="https://www.linkedin.com/in/kevin-ballantyne-15658417">
				<img class="small-logo" alt="My LinkedIn Profile" title="My LinkedIn Profile" src="../../images/Logo-White-21px-TM.png">
			</a>
		</p>
		<h4 class="sidebar pad-top-20">Links</h4>
		<p class="sidebar">
			<a class="noline" target="_blank" href="http://hsottawa.ncf.ca/">
				The Historical Society of Ottawa
			</a>
		</p>
		<p class="sidebar">
			<a class="noline" target="_blank" href="http://history.ottawaeast.ca/">
				A History of Ottawa East
			</a>
		</p>
		<p class="sidebar">
			<a class="noline" target="_blank" href="http://www.ottawahh.com/">
				OttawaHH
			</a>
		</p>
		<p class="sidebar">
			<a class="noline" target="_blank" href="http://www.pastottawa.com/">
				Past Ottawa
			</a>
		</p>
		<p class="sidebar">
			<a class="noline" target="_blank" href="https://urbsite.blogspot.ca/">
				Urbsite
			</a>
		</p>
		<h4 class="sidebar pad-top-20">What's New</h4>
		<p class="sidebar">
			March 8, 2019<br>
			<span class="small">
				Added a new project and a new map - <a href="/geomatics/ottawa-railways">Ottawa's 1930 Railway Network</a>.<br>
			</span>
		</p>
		<p class="sidebar">
			December 5, 2018<br>
			<span class="small">
				Bygone Buildings - Added Lowertown buildings with photos from the CMHC.<br>
			</span>
		</p>
		<p class="sidebar">
			October 5, 2018<br>
			<span class="small">
				Bygone Buildings - Added a download list to the <a href="/geomatics/bygone-buildings-ottawa/map">map</a> page.<br>
			</span>
		</p>
		<p class="sidebar">
			March 6, 2018<br>
			<span class="small">
				Bygone Buildings - Added a magnify feature for photos of the bygone buildings <a href="/geomatics/bygone-buildings-ottawa/map">map</a>.<br>
			</span>
		</p>
		<p class="sidebar">
			December 31, 2017<br>
			<span class="small">
				Bygone Buildings - Modified <a href="/geomatics/bygone-buildings-ottawa/building-list">Building List</a> page and changed colour scheme on <a href="/geomatics/bygone-buildings-ottawa/map">map</a> with new classifications for buildings.<br>
			</span>
		</p>
	</div>
</div>