---
layout: main
title: Map of Ottawa's Bygone Buildings
redirect_from: /geomatics/lost-buildings-ottawa/map
description: An Openlayers map showing the buildings which no longer exist in Ottawa.
keywords: Ottawa, history, Ottawa history, buildings, lost buildings, bygone buildings, historic photos
---
<div> <!-- class="container"> -->
	<div class="row">
		<div class="col-md-2 col-sm-2 sidebar-map">
			<div class="map-title">
				<h2 class="map-title-text">Ottawa's Bygone Buildings</h2>
			</div>
			<p class="mobile_only">
				NOTE: Selecting buildings currently doesn't work on mobile devices. Sorry for the inconvenience.<br>
				A <a href="./building-list.html">list of buildings</a> is available.
			</p>
			<hr class="hr-map" style="height:1px;border:none;color:#333;background-color:#ffffff">
			<div class="col-md-12 col-sm-12 legend-col">
				{% include_relative legend.html %}
			</div>
		</div>
		<div class="col-md-10 col-sm-10 map-col">
			<div id="map" class="map"><div id="info"></div></div>
			<div id="popup" class="ol-popup">
				<a href="#" id="popup-closer" class="ol-popup-closer"></a>
				<div id="popup-content"></div>
			</div>
			<p class="small" style="text-align:left !important;">
				Map created using OpenLayers 4<br>
			</p>
			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Download Buildings Map
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="../files/Ottawa_Bygone_Buildings.kml">KML</a></li>
					<!-- <li><a href="#">SHP</a></li> -->
					<li><a href="../files/Ottawa_Bygone_Buildings.geojson" target="_blank">GeoJSON</a></li>
				</ul>
			</div>
			<br>
			<p>
				A <a href="./building-list.html">list of buildings</a> is available as well which includes the date each building was added to the map.<br>
				All building outlines are based on the <a href="/geomatics/fire-plans">Ottawa Fire Insurance Plans of 1912</a>.<br>
				If you have any photos of buildings built prior to 1912 and no longer exist, feel free to send them to me at <a href="mailto:bygoneottawa@kballantyne.ca">bygoneottawa@kballantyne.ca</a>.<br>
			</p>
			{% include footer.html %}
		</div>
	</div>
</div>